[darwin_config]
darwin_access_token=xxxxx
dflt_arr_station=XXX
dflt_dep_station=XXX
time_window=20
max_rows=3
darwin_url=https://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb12.asmx

[web_interface]
ip_restriction_active=false
allowed_ip_addresses=